/****** FILE IMPORTS *******/
/***************************/

@import url('bootstrap.css');
@import url('fonts.css');



/********** LANDING ROW **********/
/*************************************/
.container{
    min-width: 100%;
}
.landing{
    text-align: center;
    background-image: url('../images/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    width: 100%;
    color:white;
  }
  #mouse{
    margin-top: 7%;
    animation: wyci 3s linear infinite;
}
#logo{
    margin-top: 11%;
}

/********** ABOUT SECTION **********/
/*************************************/
.about{
    text-align: center;
}

/********** SERVICES SECTION **********/
/*************************************/
.services{
    text-align: center;
    background-image: url('../images/s_image.jpg');
    padding: 10%;
    color: white;
}
.work{
    text-align: center
}
.img-fluid{
display: flex;
margin-right: -15px;
margin-left: -15px;
}
.design{
    align-items: center;
}
.devt{
    align-items: center;
}
.prod{
    align-items: center;
}
.port{
    text-align: center;
}
.im-style{
    border: 5px solid white;
    margin-block-end: 10px;
 }
.contact{
     background-image: url('../images/c_image.jpg');
     padding:10%;
     text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
     height:500px;
     background-position: center;
     width: 100%;
     color:white;
 }
 .contact h3{
     padding-top: 1%;
     margin-top: -10%;
 }
 .form{
    padding-top: 1%;
    position: relative;
    transform: translate(-20);
    margin-top: 1%;
  }
  .form input{
    background: transparent;
    color: white;
  }
  .message{
    width: 650px;
    max-width: 100%;
    height: 200px;
    margin-top: 2%;
    background: transparent;
    color: white;
  }
  ::placeholder{
    color:white;
  }
 
    
/********** CONTACT PAGE **********/
/*************************************/
#mouse img{
    margin-top: -18px;
    animation: wyci 3s linear infinite;
  
  }
  @keyframes wyci {
    0%{
      transform:rotate(360deg);
    }
}
.footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 25%;
        padding-right: 25%;
        margin-top: 3%;
}
.footer img{
        width: 10%;
        height: 10%;
        padding: 1px;
        margin-bottom: 20px;
        transition: width 3s, height 3s, transform 3s;
}
.footer-end{
    text-align: center;
}
.footer img:hover{
  cursor:pointer;
  transform: rotate(360deg);
}


.portfolio{
    margin-top: -5%;
    padding:5%;
    margin-bottom: 1%;
  }
  .row{
    display: flex;
    justify-content: center;
  }
  .portfolio:hover{
    cursor: pointer;
  }
  .row .proj{
    display: inline-block;
    margin-left: 15px;
    width: 23%;
    margin-top:  40px;
    position: relative;
  }
  .over {
   background-color: rgba(0, 0, 0, 0.45);
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   margin-top: -82%;
   opacity: 0;
   border: 3px solid white;
  }
  .over h3{
    color: white;
    margin-top: 25%;
    border: 3px solid white;
    padding: 3px;
    font-weight: bold;
    text-align: center;
  }
  .portfolio img{
    width:100%;
  }
  
  .work{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .work div{
    padding-top: 4%;
    font-size: 78%;
    cursor: pointer;
  }
  .work div:hover{
    cursor: pointer;
  }
  
  .design-show{
    display:none;
    width: 20%;
  }
  .development-show{
    display: none;
    width: 20%;
  }
  .product-show{
    display: none;
    width: 20%;
  }
  .what{
      text-align: center;
  }
/********** PORTFOLIO PAGE **********/
/*************************************/







/********** ABOUT PAGE **********/
/*************************************/